<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246994348061-r8um8qln8g2j1qv8idl12qltb60s72r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246994348061-r8um8qln8g2j1qv8idl12qltb60s72r5</string>
	<key>API_KEY</key>
	<string>AIzaSyB-sGMiy4R2fHbhiJnWbvOK-7mQz35k9lg</string>
	<key>GCM_SENDER_ID</key>
	<string>246994348061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.belimobil.app</string>
	<key>PROJECT_ID</key>
	<string>lakumobil-c5af7</string>
	<key>STORAGE_BUCKET</key>
	<string>lakumobil-c5af7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246994348061:ios:29ce4734ad6018c901fef4</string>
</dict>
</plist>